# The 1Password token for external secrets, used by running: task external-secrets:bootstrap
# https://my.1password.com/developer-tools/infrastructure-secrets/serviceaccount/VUPQTOFX2JH5TFPZ7CNLBOGMEU
OP_CONNECT_TOKEN=
